body {
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.par-section {
    padding: 15px;
    border: 1px solid #000;
}

.section {
    margin-bottom: 20px;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

ol {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: grey;
    text-decoration: none;
    font-size: 20px;
}